/* SELECTOR PADRE */
:root {
  --colorPrimario: #ec111a;
  --colorSecundario: #082ba5;
  --colorTerciario: #007bdf;
  --colorSombras: #282d31;
  --colorTitulos: #282d31;
  --colorParrafos: #53575a;
  --colorBordes: #dfe0e0;
  --colorWhatsapp: #25d366;
  --colorunfv: #f07613;
  --colorNegro: #000000;
  --colorNaranja: #d26024;
  --colorAzul: #131420;
  --colorBlanco: #ffffff;
  --colorTextos: #252525;
  --colorGris: #e5e5e5;
}

/* SELECTOR UNIVERSAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* INICIO DE MENU */
header {
  background: var(--colorunfv);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0px 1px 5px var(--colorSombras);
  padding: 0.25em;
}

.menu {
  width: 85%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Nunito";
}

.img-logo {
  height: 3em;
  border-radius: 0.2em;
  box-shadow: 0px 0px 6px var(--colorSombras);
}

.btn-menu {
  display: none;
}

.enlaces {
  display: flex;
  gap: 1em;
}

.enlaces a {
  color: var(--colorNegro);
  text-decoration: none;
  font-size: 0.8em;
  padding: 0.7em;
  font-weight: 700;
  display: inline-block;
  transition: all 0.3s ease;
  border-right: 2px solid var(--colorNegro);
}

.enlaces a:hover {
  color: #dfc638;
  transform: translateY(-3px);
}

/* INICIO DE RWD , RESPONSIVE WEB DESIGN */
@media screen and (max-width: 1023px) {
  .menu {
    flex-direction: column;
  }

  .btn-menu {
    display: block;
  }

  .icono-menu {
    color: var(--colorPrimario);
    font-size: 2em;
  }

  .logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 0.4em;
  }

  .enlaces {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.8em;
    margin-top: 0.5em;
  }
}
/* FIN DE RWD, RESPONSIVE WEB DESIGN */
/* FIN DE MENU */

/* INICIO SOBRE NOSOTROS */
.banner-animado-unfv {
  padding: 1em;
  background-image: url(../img/slider_unfv_anime.png);
  background-size: cover;
  background-position: center -90px; /* recorta la parte de arriba */
  height: 235px;
  margin-top: 72px;
  margin-bottom: 16px;
}

.sobre_nosotros {
  background-image: url(../img/fondo.png);
  margin-bottom: 36px;
}

.presentacion h2,
.mision_vision h2,
.objetivos h2 {
  font-family: "Momo Trust Display";
  font-size: 2em;
  color: var(--colorTitulos);
  margin-bottom: 36px;
}

.presentacion h2,
.objetivos h2 {
  text-align: center;
}

.presentacion p,
.mision_vision p,
.objetivos p {
  font-family: "Urbanist";
  font-weight: 500;
  text-align: justify;
  margin-bottom: 36px;
}

.mision_vision h2 {
  padding-top: 0.7em;
}

.sobre_nosotros hr,
.objetivos hr {
  width: 50em;
  height: 2px;
  background-color: var(--colorunfv);
  margin: 25px auto;
}

.img-villa {
  height: 300px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 5px 5px 0px 0px #f79f70;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.img-villa:hover {
  transform: scale(1.05);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
}

.mision_vision {
  margin-top: 20px;
  padding: 0px 150px;
}

/* TABLET */
@media (max-width: 1023px) {
  .mision_vision {
    padding: 60px;
  }
}

/* CELULAR */
@media (max-width: 767px) {
  .mision_vision {
    padding: 30px 20px;
  }
}

.mision_vision img {
  width: 250px;
  height: 250px;
  object-fit: cover; /* evita que se deforme */
  display: block; /* necesario para centrar */
  margin: 0.5em auto; /* centra horizontalmente */
  border-radius: 50%;
  border: 5px dashed var(--colorNaranja);
  padding: 5px;
  transition: all ease-in-out 0.5s;
}

.mision_vision img:hover {
  transform: rotate(15deg);
}

.objetivos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2em;
  padding: 1em;
  background-color: #f79f70;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);

  counter-reset: objetivo;
}

.objetivo {
  border-radius: 1em;
  background-color: var(--colorBlanco);
  box-shadow: 0 0 2px var(--colorSombras);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 200px;

  position: relative;
  counter-increment: objetivo;
}

.objetivos p {
  padding: 1em;
  text-align: center;
}

/* circulito con número */
.objetivo::before {
  content: counter(objetivo);
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);

  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid var(--colorunfv);
  background-color: #fff;
  color: var(--colorunfv);
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-inicio {
  padding: 1em;
  background-image: url(../img/fondo_pag_1.jpg);
  background-size: cover;
  height: 400px;
  margin-top: 20px;
}

/* FIN SOBRE NOSOTROS */

/* INICIO FACULTADES Y CARRERAS */
.facultades_y_carreras-intro h1 {
  padding: 1em;
  background-image: url(../img/cp-banner.jpg);
  background-size: cover;
  font-family: "Momo Trust Display";
  font-size: 3em;
  text-align: center;
  color: var(--colorBlanco);
  text-transform: uppercase;
  margin-top: 72px;
  margin-bottom: 36px;
}

.facultades_y_carreras {
  background-image: url(../img/fondo.png);
  margin-top: 36px;
}

.facultades_y_carreras h2 {
  font-family: "Momo Trust Display";
  font-size: 2em;
  color: var(--colorTitulos);
  margin-bottom: 36px;
  text-align: center;
}

.facultades_y_carreras-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 2em;
  padding: 1em;
}

.facultades {
  background-color: #fff;
  border-radius: 0.5em;
  box-shadow: 0 0 4px var(--colorSombras);
}

.facultades img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 0.5em 0.5em 0 0;
}

.facultad-content {
  gap: 1.5em;
  padding: 0.7em 2em 0em;
}

.facultad-content a {
  text-decoration: none;
}

.facultad-content h1,
.facultad-content h2 {
  font-family: "Urbanist";
  font-weight: 700;
}

.facultad-content h1 {
  font-size: 1.1em;
  color: var(--colorTitulos);
  text-align: center;
}

.facultad-content h2 {
  font-size: 1em;
  color: var(--colorTextos);
  display: flex;
  justify-content: left;
  margin-top: 1em;
}

.facultad-content ul {
  font-size: 0.9em;
  color: var(--colorTextos);
  font-weight: 500;
  margin-top: -2em;
}

.facultad-btn {
  font-family: "Nunito";
  font-size: 0.8em;
  background-color: var(--colorunfv);
  color: var(--colorBlanco);
  padding: 0.5em;
  margin: 1.2em;
  border-radius: 0.5em;
  text-align: center;
  font-weight: 700;
  display: block;
}

.facultad-btn:hover {
  background-color: #fcdf3a;
  color: var(--colorNegro);
}

/* FIN FACULTADES Y CARRERAS */

/* INICIO DE PÁGINA DE BENEFICIOS */
.bnf-banner h1 {
  padding: 1em;
  background-image: url(../img/bnf-banner.jpg);
  background-size: cover;
  font-family: "Momo Trust Display";
  font-size: 3em;
  text-align: center;
  color: var(--colorBlanco);
  text-transform: uppercase;
  margin-top: 56px;
}

.bnf-intro {
  padding: 36px 0;
}
.bnf-intro p {
  font-family: "Urbanist";
  font-weight: 500;
  text-align: justify;
  margin-bottom: 0;
}

.bnf-beneficios {
  background-image: url(../img/fondo.png);
  padding: 36px 0;
}
.bnf-beneficios h2,
.bnf-egresados h2,
.bnf-videos h2 {
  font-family: "Momo Trust Display";
  font-size: 2em;
  color: var(--colorTitulos);
  margin-bottom: 36px;
}
.bnf-beneficio img {
  border-radius: 50%;
  border: 5px dashed var(--colorNaranja);
  padding: 10px;
  transition: all ease-in-out 0.5s;
  margin-top: 36px;
}
.bnf-beneficio img:hover {
  transform: rotate(15deg);
}
.bnf-beneficio h3 {
  font-family: "Urbanist";
  font-size: 1.5em;
  font-weight: 700;
  color: var(--colorTitulos);
  text-align: center;
  text-transform: uppercase;
  margin-top: 36px;
}

.bnf-estadisticas {
  background-image: url(../img/patron.png);
  background-size: cover;
  padding: 36px 0;
}
.bnf-estadistica {
  text-align: center;
}
.bnf-estadistica .icono {
  font-size: 4em;
  padding: 0.5em;
  text-align: center;
  color: var(--colorNaranja);
}
.bnf-estadistica h3 {
  font-family: "Urbanist";
  font-size: 1.5em;
  letter-spacing: 0.5px;
  color: var(--colorBlanco);
}

.bnf-egresados {
  background-image: url(../img/fondo.png);
  padding: 36px 0;
}
.bnf-egresados-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 2em;
}
.bnf-egresado {
  border-radius: 1em;
  background-color: var(--colorBlanco);
  box-shadow: 0 0 2px var(--colorSombras);
}
.bnf-egresado img {
  border-radius: 1em 1em 0 0;
  border-left: 10px solid var(--colorNaranja);
}
.bnf-egresado-contenido {
  padding: 1em;
}
.bnf-egresado-contenido .texto {
  font-family: "Urbanist";
  font-weight: 500;
  text-align: justify;
}
.bnf-egresado-contenido .autor {
  font-family: "Urbanist";
  font-weight: 700;
  text-align: left;
  margin-bottom: 0;
}
.bnf-egresado-contenido .carrera {
  font-family: "Urbanist";
  font-weight: 500;
  text-align: left;
  margin-bottom: 0;
}

.bnf-videos {
  background-color: var(--colorGris);
  padding: 36px 0;
}
.bnf-video iframe {
  width: 100%;
  height: 350px;
}
/* FIN DE PÁGINA DE BENEFICIOS */

/* INICIO DE PÁGINA DE ADMISIÓN */
.adm-banner-1 h1 {
  background-image: url(../img/adm-banner-1.jpg);
  background-size: cover;
  padding: 1em;
  font-family: "Momo Trust Display";
  font-size: 3em;
  text-align: center;
  color: var(--colorBlanco);
  text-transform: uppercase;
  margin-top: 56px;
}
.adm-intro p {
  font-family: "Urbanist";
  font-weight: 500;
  text-align: justify;
  padding: 36px 0;
  margin-bottom: 0;
}
.adm-inscripcion {
  background-image: url(../img/fondo.png);
  padding: 36px 0;
}
.adm-inscripcion h2,
.adm-preguntas h2 {
  font-family: "Momo Trust Display";
  font-size: 2em;
  color: var(--colorTitulos);
  margin-bottom: 36px;
}
.adm-inscripcion-paso p {
  font-family: "Urbanist";
  font-weight: 500;
  text-align: justify;
}
.adm-inscripcion-paso a,
.adm-pregunta a {
  font-weight: 700;
  text-decoration: none;
  color: var(--colorNaranja);
}
.adm-inscripcion-img {
  text-align: center;
  filter: drop-shadow(0 0 2px var(--colorSombras));
}

.adm-preguntas {
  background-color: var(--colorGris);
  padding: 36px 0;
}
.adm-pregunta {
  padding: 1.5em;
  border-radius: 1em;
  box-shadow: 0 0 2px var(--colorSombras);
  border-left: 10px solid var(--colorNaranja);
  margin-bottom: 36px;
}
.adm-pregunta p {
  font-family: "Urbanist";
  font-weight: 500;
  margin-bottom: 0;
  color: var(--colorTextos);
}

.adm-banner-3 {
  background-image: url(../img/patron.png);
  background-size: cover;
  padding: 36px 0;
}
.adm-banner-3-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  background-image: url(../img/patron.png);
  background-size: cover;
  position: relative;
}
.adm-banner-3-img img {
  position: absolute;
  bottom: -90px;
  filter: drop-shadow(0 0 2px var(--colorSombras));
}
.adm-banner-3-contenido p {
  color: #fff;
  font-family: "Urbanist";
  font-weight: 800;
  font-size: 3em;
  margin-bottom: -10px;
}
.adm-banner-3-contenido a {
  display: inline-block;
  background-color: var(--colorNaranja);
  padding: 0.5em 1em;
  color: #fff;
  font-family: "Urbanist";
  font-weight: 600;
  text-decoration: none;
  margin-top: 2em;
}
@media screen and (max-width: 1024px) {
  .adm-banner-3-grid {
    grid-template-columns: 1fr;
  }
  .adm-banner-3-img img {
    display: none;
  }
}
/* FIN DE PÁGINA DE ADMISIÓN */

/* INICIO DE FORMULARIO DE CONTACTO */
.contacto-banner h1 {
  width: 100%;
  background-image: url(../img/contacto-banner.jpg);
  background-size: cover;
  padding: 1em;
  font-family: "Momo Trust Display";
  font-size: 3em;
  text-align: center;
  color: var(--colorBlanco);
  text-transform: uppercase;
  margin-top: 56px;
}
.contacto-intro p {
  font-family: "Urbanist";
  font-weight: 500;
  text-align: justify;
  padding: 36px 0;
  margin-bottom: 0;
}

.contacto-form-contenedor {
  background-image: url(../img/contacto-fondo.jpg);
  padding: 36px 0;
}
.contacto-form {
  box-shadow: 0 0px 4px var(--colorSombras);
  border-radius: 0.5em;
  background-color: var(--colorBlanco);
  padding: 2em;
  max-width: 400px;
  font-size: 0.9em;
  margin: auto;
}
.contacto-lista select,
.contacto-caja input,
.contacto-caja textarea {
  width: 100%;
  border: 1px solid var(--colorBordes);
  border-radius: 0.5em;
  padding: 0.6em 0.8em;
  margin: 0.5em 0;
  outline: none;
  font-family: "Urbanist";
  color: var(--colorTextos);
  font-weight: 500;
}
.contacto-lista option,
.contacto-caja input::placeholder,
.contacto-caja textarea::placeholder {
  color: var(--colorTextos);
  font-weight: 500;
}
.contacto-caja textarea {
  min-height: 150px;
  max-height: 200px;
}
.contacto-btn-envio input {
  width: 100%;
  background-color: var(--colorNaranja);
  color: #fff;
  font-family: "Urbanist";
  border: none;
  border-radius: 0.5em;
  font-weight: 600;
  padding: 0.7em 0;
  transition: background-color 1s ease-in-out;
}
.contacto-btn-envio input:hover {
  background-color: var(--colorAzul);
}

.contacto-mapa {
  margin: 36px 0;
}
.contacto-mapa iframe {
  width: 100%;
  height: 300px;
}
/* FIN DE FORMULARIO DE CONTACTO */

/* INICIO DE BOTÓN DE IR ARRIBA */
.ir-arriba {
  position: fixed;
  font-size: 20px;
  padding: 15px;
  background-color: var(--colorNaranja);
  color: var(--colorBlanco);
  border-radius: 50%;
  right: 20px;
  bottom: 20px;
  z-index: 100;
}
.ir-arriba:hover {
  background-color: var(--colorAzul);
}
/* FIN DE BOTÓN DE IR ARRIBA */
